body,
html{
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}



body{
	background-color: #EFEFEF;
	font-family: Tahoma;
}

a{
	color: green;
}

.clearfix:before,
.clearfix:after{
	content: "";
	display: table;
}
.clearfix:after{
	clear: both;
}

main,
#footer{
	background: #FFF;
	margin: 0 auto;
	width: 1100px;
}
main{
	min-height: 100%;
}
main #wrap{
	padding-bottom: 40px;
}

#toggle-menu{
	background: #000;
	border-bottom: 1px solid #333;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: #EFEFEF;
	display: none;
	height: 40px;
	left: 0;
	padding: 8px 30px;
	position: fixed;
	right: 0;
	text-align: center;
	top: 0;
	z-index: 2;
}
#toggle-menu a{
	position: absolute;
	color: #FFF;
	display: block;
	height: 30px;
	line-height: 30px;
	left: 5px;
	top: 5px;
	width: 30px;
}
#toggle-menu a:hover{
	color: #CCC;
}

/*----HEADER----*/
#header{
	background: #000;
	color: #FFF;
	font-size: 3em;
	padding: 20px;
	text-align: center;
}
/*----HEADER----*/
/*----nav----*/
#nav{
	border-bottom: 1px solid #CCC;
}
#nav ul{
	display: table;
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 100%;
}
#nav ul li{
	display: table-cell;
}
#nav ul li a{
	color: #000;
	display: block;
	text-align: center;
	padding: 10px;
	text-decoration: none;
	text-transform: uppercase;
	/*transition: all .15s ease-in;*/
}
#nav ul li a:hover{
	background: #333;
	color: #FFF;
}
/*----nav----*/
/*----aside----*/

#sidebar{
	float: left;
	width: 275px;
}
#main-content{
	float: right;
	width: 825px;
}
/*----aside----*/


/*----content----*/




/*----content----*/
/*----footer----*/
#footer{
	background: #000;
	color: #FFF;
	height: 40px;
	margin-top: -40px;
}
/*----footer----*/

@media (max-width: 1100px){
	main,
	#footer{
		width: 100%;
	}
	#sidebar{
		width: 25%;
	}
	#main-content{
		width: 75%;
	}
}
@media (max-width: 768px){
	#header{
		margin-top: 40px;
	}
	#toggle-menu{
		display: block;
	}
	#sidebar{
		display: none;
	}
	#main-content{
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		padding: 20px;
		width: 100%;
	}
	#nav{
		background: #010101;
		bottom: 0;
		left: -100%;
		padding-top: 50px;
		position: fixed;
		top: 0;
		transition: all .15s ease-in;
		width: 75%;
		z-index: 1;
	}
	.open-menu{
		overflow: hidden;
	}
	.open-menu #nav{
		left: 0;
	}
	.open-menu:before{
		background: rgba(0,0,0,.8);
		bottom: 0;
		content: "";
		display: block;
		left: 0;
		position: fixed;
		right: 0;
		top: 0;
		z-index: 1;
	}
	#nav ul{
		display: block;
		width: 100%;
	}
	#nav ul li{
		border-top: 1px solid #333;
		display: block;
		text-align: left;
		width: 100%;
	}
	#nav ul li:first-child{
		border-top: none;
	}
	#nav ul li a{
		color: #FFF;
		text-align: left;
	}
}

